.layadmin-header {display: none; height: 35px;line-height: 35px;margin-bottom: 0;border-radius: 0;}
.layadmin-header .layui-breadcrumb{    padding: 0 15px;}


.layui-fluid{padding: 15px;}

.mayiboy-lable{font-size:12px;height:30px;padding: 8px 15px;line-height: 20px;border-radius: 2px 0 0 2px;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;box-sizing: border-box;}
.mayiboy-input{width:180px;height:30px;font-size:12px;border-radius: 0 2px 2px 0;padding-left: 10px;line-height: 1.3;border-width: 1px;border-style: solid;background-color: #fff;border-radius: 2px;border-color: #e6e6e6;}



