
@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">用户基本信息</div>
                <div class="layui-card-body">账号</div>
            </div>

        </div>
    </div>
</div>

