<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Logging>
  <!-- 日志组件全局配置 -->
  <Global IsLog="True" ThrowException="false" IsAsyn="true" StartDebugConsole="true" InnerLogPath="D:\webapplogs\Project.Name.prd\Logging\"/>

  <!-- 日志组件用户自定义变量 -->
  <Variable>
    <var name="AppId" value="00000000"/>
    <var name="LogDir" value="D:\webapplogs\Project.Name.prd\"/>
    <var name="LogDateDir" value="D:\webapplogs\Project.Name.prd\{year}\{month}\{day}\"/>
    <var name="MailServer" value="smtp.***.com"/>
    <var name="FromMail" value="frommail@***.com"/>
    <var name="ToMail" value="tomaile@***.com"/>
    <var name="MailAccount" value="mailaccount@***.com"/>
    <var name="MailPassword" value="********"/>
    <var name="SysName" value="projectname.prd Framework.Mayiboy.Logging"/>
  </Variable>

  <!-- 日志组件日志记录媒体 -->
  <Targets>
    <target Name="TraceFile" TyPe="File" Filename="{LogDateDir}\Trace.txt" Encode="gb2312"/>
    <target Name="DebugFile" TyPe="File" Filename="{LogDateDir}\Debug.txt" Encode="gb2312"/>
    <target Name="InfoFile" TyPe="File" Filename="{LogDateDir}\Info.txt" Encode="gb2312"/>
    <target Name="ErrorFile" TyPe="File" Filename="{LogDateDir}\Error.txt" Encode="gb2312"/>
    <target name="ErrorMail" type="Mail" mailserver="{MailServer}" frommail="{FromMail}" mailaccount="{MailAccount}" IsAsyn="true" MinLogTimeTick="60" mailpassword="{MailPassword}" subject="日志 报警邮件" tomail="{ToMail}"/>
  </Targets>

  <!-- 日志对象 -->
  <Loggers>
    <Logger name="DefaultLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
    <Logger name="RepositoryLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
    <Logger name="CachingLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
  </Loggers>
  <!-- 计数器对象 -->
  <Counters></Counters>
</Framework.Mayiboy.Logging>