<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Logging>
  <!-- 日志组件全局配置 -->
  <Global IsLog="True" ThrowException="false" IsAsyn="true" StartDebugConsole="false" InnerLogPath="D:\applogs\Project.Name.dev\Logging\"/>

  <!-- 日志组件用户自定义变量 -->
  <Variable>
    <var name="AppId" value="000000"/>
    <var name="LogDir" value="D:\applogs\Project.Name.dev\"/>
    <var name="LogDateDir" value="D:\applogs\Project.Name.dev\{year}\{month}\{day}\"/>
    <var name="MailServer" value="smtp.***.com"/>
    <var name="FromMail" value="***"/>
    <var name="ToMail" value="***"/>
    <var name="MailAccount" value="***"/>
    <var name="MailPassword" value="***"/>
    <var name="SysName" value="projectname.dev Framework.Mayiboy.Logging"/>
  </Variable>

  <Targets>
      <target Name="TraceFile" TyPe="File" Filename="{LogDateDir}\Trace.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>
      <target Name="DebugFile" TyPe="File" Filename="{LogDateDir}\Debug.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>
      <target Name="InfoFile" TyPe="File" Filename="{LogDateDir}\Info.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>
      <target Name="ErrorFile" TyPe="File" Filename="{LogDateDir}\Error.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>
      <target Name="WarnFile" TyPe="File" Filename="{LogDateDir}\Warn.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>
      <target Name="FatalFile" TyPe="File" Filename="{LogDateDir}\Fatal.txt" Encode="gb2312" Layout=" {LongDate} - {message}"/>

      <target name="ErrorMail" type="Mail" mailserver="{MailServer}" frommail="{FromMail}" mailaccount="{MailAccount}" IsAsyn="true" mailpassword="{MailPassword}" subject="蚂蚁男孩统 报警邮件 Error" tomail="{ToMail}" Layout=" {LongDate} - {message}{NewLine}{NewLine}[AppId={AppId}]"/>
      <target name="WarnMail" type="Mail" mailserver="{MailServer}" frommail="{FromMail}" mailaccount="{MailAccount}" IsAsyn="true" mailpassword="{MailPassword}" subject="蚂蚁男孩统 报警邮件 Warn" tomail="{ToMail}" Layout=" {LongDate} - {message}{NewLine}{NewLine}[AppId={AppId}]"/>
      <target name="FatalMail" type="Mail" mailserver="{MailServer}" frommail="{FromMail}" mailaccount="{MailAccount}" IsAsyn="true" mailpassword="{MailPassword}" subject="蚂蚁男孩统 报警邮件 Fatal" tomail="{ToMail}" Layout=" {LongDate} - {message}{NewLine}{NewLine}[AppId={AppId}]"/>

      <target Name="TraceHttp" Type="Http" httpurl="http://domainname/api/log/trace" Encode="utf-8"/>
      <target Name="ErrorHttp" Type="Http" httpurl="http://domainname/api/log/error" Encode="utf-8"/>
      <target Name="InfoHttp" Type="Http" httpurl="http://domainname/api/log/info" Encode="utf-8"/>
      <target Name="DebugHttp" Type="Http" httpurl="http://domainname/api/log/debug" Encode="utf-8"/>
      <target Name="WarnHttp" Type="Http" httpurl="http://domainname/api/log/warn" Encode="utf-8"/>
      <target Name="FatalHttp" Type="Http" httpurl="http://domainname/api/log/fatal" Encode="utf-8"/>
  </Targets>

  <!-- 日志对象 -->
  <Loggers>
    <Logger name="DefaultLogger" IsLog="true">
      <Level level="Trace" targets="TraceFile,TraceHttp" />
      <Level level="Debug" targets="DebugFile,DebugHttp" />
      <Level level="Info" targets="InfoFile,InfoHttp"/>
      <Level level="Error" targets="ErrorFile,ErrorHttp,ErrorMail"/>
      <Level level="Warn" targets="WarnFile,WarnHttp,WarnMail"/>
      <Level level="Fatal" targets="FatalFile,FatalHttp,FatalMail"/>
    </Logger>
  </Loggers>
</Framework.Mayiboy.Logging>