
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>统一登录后台</title>
    <link href="~/Content/Styles/login.css" rel="stylesheet" />
</head>
<body class="loginBody">
    <div class="login_box">
        <div class="login_l_img">
            <img src="~/Content/Images/login-img.png" />
        </div>
        <div class="login">
            <div class="login_logo">
                <a href="javascript:;">
                    <img src="~/Content/Images/login-img.png" />
                </a>
            </div>
            <div class="login_name">
                <p>后台管理系统</p>
            </div>
            <form method="post">
                <input id="username" name="username" type="text" placeholder="用户名">
                <input id="password" name="password" type="password" placeholder="密码" />
                <input id="loginbtn" data-url="@Url.Action("Submit","Login")" value="登录" type="button">
            </form>
        </div>
        <div class="copyright">某某有限公司 版权所有©2016-2018 技术支持电话：000-00000000</div>
    </div>
    <script src="~/Content/lib/jquery/jQuery-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/common/rasall.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/common/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/common/jquery.extend.js"></script>
    <script type="text/javascript" src="~/Content/lib/layui/layui.js"></script>

    <script type="text/javascript">
        $(function () {
            var thisPage = {
                Init: function () {

                    $("#username").focus();
                    //回车
                    $("body").bind("keydown", function (e) {
                        var theEvent = e || window.event;
                        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
                        if (code == 13) {
                            //回车执行查询
                            $("#loginbtn").click();
                        }
                    });

                    $("#loginbtn").click(function () {
                        var username = $("#username").val();
                        var pwd = $("#password").val();

                        if (username.length == 0 || pwd.length == 0) {
                            alert("请正确输入用户名、密码！");
                            return false;
                        }

                        $.ajax({
                            type: "post",
                            url: $("#loginbtn").data("url"),
                            data: {
                                username: $.Encrypt(username),
                                password: $.Encrypt(pwd)
                            },
                            success: function (res) {
                                if (res.status == 0) {
                                    location.href = res.fromurl;
                                } else {
                                    alert(res.msg);
                                }
                            }
                        });
                    });
                }
            }

            thisPage.Init();
        })
    </script>
</body>
</html>
