
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page500</title>
</head>
<body>
    <div>
        系统出错
    </div>
</body>
</html>
