
@{
    ViewBag.Title = "栏目管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section head_section{

}
@*面包屑*@
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a><cite>组件</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格的重载</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    系统栏目管理
                </div>
                <div class="layui-card-body" style="margin: 0px; padding: 0px;">
                    <div class="layui-card" style="margin:0px;">
                        <div class="layui-card-body" style="padding: 0px;">
                            <div class="layui-btn-container" style="float: left;padding:5px;">

                            </div>
                            <div class="layui-btn-container" style="float: right; padding: 5px;">
                                <div class="layui-btn-group">
                                    <button id="btnadd" class="layui-btn">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="dttable" lay-filter="table-operate" data-url="@Url.Action("Query", "SysNavbar", new {areas = "SystemManage"})" data-delurl="@Url.Action("Del", "SysNavbar", new {areas = "SystemManage"})"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editsysnavbar" title="添加系统栏目" style="display: none;" data-url="@Url.Action("Save", "SysNavbar", new {areas = "SystemManage"})">
    <div class="layui-form" style="padding: 20px;" data-url="@Url.Action("Save", "SysNavbar", new {areas = "SystemManage"})">
        <input id="txtid" type="hidden" value="0" />
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input id="txtname" type="text" name="title" required lay-verify="required" placeholder="名称" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-block">
                <input id="txturl" type="text" name="title" placeholder="地址" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input id="txtsort" type="number" name="title" value="0" required lay-verify="required" style="width: 200px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="txtremark" name="desc" placeholder="请输入内容" class="layui-textarea" style="width: 300px; height: 30px; resize: none"></textarea>
            </div>
        </div>
    </div>
</div>


@section foot_section{
<script src="~/Areas/SystemManage/Content/js/systemnavbar.js?v=1"></script>
}
