<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Logging>
  <!-- 日志组件全局配置 -->
  <Global IsLog="True" ThrowException="false" IsAsyn="true" StartDebugConsole="true" InnerLogPath="D:\applogs\mayiboy.admin.ui.dev\Logging\"/>

  <!-- 日志组件用户自定义变量 -->
  <Variable>
    <var name="AppId" value="00000000"/>
    <var name="LogDir" value="D:\applogs\mayiboy.admin.ui.dev\"/>
    <var name="LogDateDir" value="D:\applogs\mayiboy.admin.ui.dev\{year}\{month}\{day}\"/>
    <var name="MailServer" value="smtp.***.com"/>
    <var name="FromMail" value="frommail@***.com"/>
    <var name="ToMail" value="tomaile@***.com"/>
    <var name="MailAccount" value="mailaccount@***.com"/>
    <var name="MailPassword" value="********"/>
    <var name="SysName" value="mayiboy.admin.ui.dev Framework.Mayiboy.Logging"/>
  </Variable>

  <!-- 日志组件日志记录媒体 -->
  <Targets>
  </Targets>

  <!-- 日志对象 -->
  <Loggers>
    <Logger name="DefaultLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
    <Logger name="LogicLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
    <Logger name="DataAccessLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
    <Logger name="CachingLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="[99999] {LongDate} - {message}"></Logger>
  </Loggers>
  <!-- 计数器对象 -->
  <Counters></Counters>
</Framework.Mayiboy.Logging>