<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Queue>
  <!-- 队列组件全局配置 -->
  <Global IsLog="True" ThrowException="false" InnerLogPath="D:\applogs\projectname.dev\Queue\" />
  <!-- 缓存对象配置 -->
  <Queues>
    <queue Name="runtime" Type="RunTime" IsAutoDeal="false"/>
    <queue Name="ProjectNameQueue" Type="Redis" IsAutoDeal="false" QueueID="ProjectName.QueueID" ServerIPsWrite="127.0.0.1:6379" ServerIPsReadOnly="127.0.0.1:6379"/>
  </Queues>
</Framework.Mayiboy.Queue>