<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/Styles/admin.css" rel="stylesheet" />
    <script src="~/Content/lib/layui/layui.js"></script>
    <script src="~/Content/lib/jquery/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/Scripts/common/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/common/rasall.js"></script>
    <script src="~/Content/Scripts/common/jquery.extend.js?v=1"></script>
    <script src="~/Content/Scripts/common/jquery.form.js"></script>
    @RenderSection("head_section", false)
</head>
<body>
    @RenderBody()

    @RenderSection("foot_section", false)
</body>
</html>
