<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Caching>
  <!-- 缓存组件全局配置 -->
  <Global IsLog="True" ThrowException="false" InnerLogPath="D:\webapplogs\Project.Name.dev\Caching\" />
  <!-- 缓存对象配置 -->
  <Caches>
    <cache Name="RunTime" Type="RunTime"/>
    <cache Name="RedisDefault" Type="Redis" ServerIPsWrite="127.0.0.1:6379" ServerIPsReadOnly="127.0.0.1:6379" defaultdb="0"/>
    <cache Name="MemcacheDefault" Type="memcache" serverIPs="127.0.0.1:11211" ServerIPsReadOnly="127.0.0.1:11211" />
  </Caches>
</Framework.Mayiboy.Caching>
