<?xml version="1.0" encoding="utf-8" ?>
<Framework.Mayiboy.Task>
  <!-- Task组件全局配置 -->
  <Global IsRun="True" IsAutoRun="True"/>

  <!-- 循环任务配置 -->
  <LoopTasks>
    <!--Period:循环执行周期-->
    <LoopTask TaskName="LoopShow" IsRun="true" Period="1" ClassName="ProjectNmae.TaskHelper, ProjectNmae" MethodName="LoopShow"/>
  </LoopTasks>

  <!-- 定时调度任务配置 -->
  <CronTasks>
    <CronTask TaskName="Show" IsRun="true" TimeExpress="*/1 * * * * *" ClassName="ProjectNmae.TaskHelper, ProjectNmae" MethodName="Show" Patch="***" IsTaskWithParameter="true"/>

  </CronTasks>
</Framework.Mayiboy.Task>